*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.logo{
    width: 300px;
}
#home{
    display: flex;
    align-items: center;
   
    
}
.menu ul{
  padding-left: 175px;
  font-size: 20px;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}
.menu2{
    justify-content: space-between;
    padding-left: 280px;
    font-size: 20px;
    
}
.menu2 ul li{
    list-style: none;
    display: inline-block;
    
  
}.carrinho{
    justify-content: space-between;
    width: 70px;
    padding-bottom: 30px;
   
}
.carrinhopag{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 150px;
    background-color: rgb(207, 206, 206);
    height:100vh;
    
}
#home li a:hover{
    color: orange;
}
#home li a{
    color: black;
}